# Notebook: E-handelsplattformen (Grupp 1: Daniel, Hami, Martin W)

Vi är ett team som analyserar försäljningsdata från en påhittad e-handelsplattform.  
Vi ska ge ledningen ett snabbt beslutsunderlag inför nästa kampanjperiod.

Datasetet innehåller:
- `order_id`
- `date`
- `city`
- `category`
- `price`
- `units`
- `revenue`

In [12]:
# För att få relative path utifrån notebookens workspace mapp.
import sys, os 
sys.path.append(os.path.abspath(".."))

In [13]:
# Läs in data
from src.io_utils import load_csv
df = load_csv("../data/ecommerce_sales.csv")
# Kolla 2 rader
df.head(2)

   order_id        date       city category   price  units  revenue
0    100000  2024-04-19  Stockholm   Sports  530.95      4  2123.80
1    100001  2024-05-06      Malmö   Sports  653.28      3  1959.84

---

Vi ska svara följande affärsfrågor:
1. Vad säljer? – Vilka kategorier driver mest intäkt?  
2. Var säljer vi? – Vilka städer står för störst intäkt?  
3. När säljer vi? – Finns säsongsmönster i försäljningen?  
4. Hur ser en typisk order ut? – AOV (Average Order Value).  
5. Topp-3 kategorier efter intäkt.  
6. Eventuella avvikelser.

In [14]:
# Importera funktioner 
from src.metrics import total_revenue, total_units, aov, revenue_by_category, revenue_by_city, top_categories
import pandas as pd

In [15]:
# Visa metrics
print("Total Revenue:", total_revenue(df))
print("Total Units Sold:", total_units(df))
print("Average Order Value (AOV):", aov(df))

print("\nRevenue by Category:\n", revenue_by_category(df))
print("\nRevenue by City:\n", revenue_by_city(df))
print("\nTop Categories:\n", top_categories(df))

Total Revenue: 3502767.2300000004
Total Units Sold: 7463
Average Order Value (AOV): 469.351096073965

AttributeError: 'Series' object has no attribute 'sort_value'

In [ ]:
# Beskriva ovan...

In [ ]:
# Visualizations
from src.viz import plot_revenue_by_category, plot_sales_over_time

fig1, ax1 = plot_revenue_by_category(df)
fig2, ax2 = plot_sales_over_time(df)

In [ ]:
# beskriva ovan..

---